.container {
    display: flex;
    justify-content: center;
    flex-direction: row
}

.container div {

    font-size: 20px;
    margin: 10px;
    border: 15px;
}


.side {
    flex-direction: row;
    flex: 20%;
    background-color: black;
    color: white;
    padding: 20px;
}

.sivu {
    background-color: white;
    color: black;
}


.main {
    text-align: center;
    flex: 80%;
    background-color: brown;
    padding: 20px;
}

.pää {
    background-color: whitesmoke;

}

.ansiot {
    padding: 15px;
    background-color: rgb(117, 133, 255);
    margin: 10px;
}

.mina {
    width: 300px;
    margin: auto;
    border: 5px solid black;


}

@media screen and (max-width: 700px) {

    .container,
    .navbar {
        flex-direction: column;
    }
}

.megateksti {
    color: white;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}


img {
    float: none;
    margin-left: 15px;
}

body {
    background-color: whitesmoke
}

header {
    text-align: center;
    padding: 70px 0;
    text-shadow: 0px 0px 5px black;
    color: white;
    position: relative;
}

header .header-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    z-index: -1;
}

footer {
    padding: 20px;
    background-color: rgb(80, 80, 80);
    text-align: center;
    color: white;
    font-size: large;
}

nav {
    background-color: rgb(81, 80, 80);
    text-align: center;
    padding: 1px;



    ul {
        list-style-type: none;
        margin: 5px;
        padding: 10px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }



}


h1 {
    font-size: 50px;
}


form {
    display: inline;
}

button {
    background-color: darkslategray;
    color: white;
    font-size: large;
    padding: 20px 15px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(59, 30, 252);

}

/*tekeleet alkaa*/
div.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.gallery-item {
    margin: 10px;
    border: 5px solid #ccc;
    width: 300px;

}

div.gallery-item:hover {
    border: 5px solid yellow;
}

div.gallery-item img {
    width: 100%;
    height: auto;
    margin: auto;
}

div.gallery-item div.desc {
    padding: 15px;
    text-align: center;
}

/*tekeleet loppuu*/