img {
    float: none;
    margin-left: 15px;
}

body {
    background-color: whitesmoke
}

header {
    background-image: url(/kuvat/artsypuu.jpg);
    background-size: 100%;
    background-position: 50% 25%;
    text-align: center;
    padding: 70px;
    text-shadow: 0px 0px 5px black;
    color: white;



}

nav {
    background-color: rgb(81, 80, 80);
    text-align: center;
    padding: 1px;


    ul {
        list-style-type: none;
        margin: 5px;
        padding: 10px;
        overflow: hidden;

    }

    ul li a {
        padding: 5px 10px;
    }

    ul li {
        float: left;
    }
}


h1 {
    font-size: 50px;
}

form {
    display: inline;
}

button {
    background-color: darkslategray;
    color: white;
    font-size: large;
    padding: 20px 15px;

}

button:hover {
    background-color: rgb(59, 30, 252);

}