img {
    float: none;
    margin-left: 15px;
}

body {
    background-color: whitesmoke
}

header {
    text-align: center;
    padding: 70px 0;
    text-shadow: 0px 0px 5px black;
    color: white;
    position: relative;
}

header .header-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    z-index: -1;
}

footer {
    padding: 20px;
    background-color: rgb(80, 80, 80);
    text-align: center;
    color: white;
    font-size: large;
}

nav {
    background-color: rgb(81, 80, 80);
    text-align: center;
    padding: 1px;


    ul {
        list-style-type: none;
        margin: 5px;
        padding: 10px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem
    }



}


h1 {
    font-size: 50px;
}

form {
    display: inline;
}

button {
    background-color: darkslategray;
    color: white;
    font-size: large;
    padding: 20px 15px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(59, 30, 252);

}